<h1 class="ui center aligned icon header">
  <i class="circular orange power icon"></i>
  Get access
</h1>

<div class="ui one column centered grid">
  <div class="eight wide column">
    <div class="ui raised segment">
      <%= render 'form' %>
    </div>
  </div>
</div>

