<h1 class="ui center aligned icon header">
  <i class="circular orange power icon"></i>
  Get access
</h1>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= render 'form' %>
    </div>
    <div class="middle aligned column">
      <%= link_to(signup_path, class: 'ui big button') do %>
        <i class="signup icon"></i>
        Sign Up
      <% end %>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>

