<div class="ui comments">
  <h3 class="ui dividing header">Messages</h3>
  <div id="messages">
    <%= render @messages %>
  </div>
  <%= form_for(@message, html: { class: 'ui reply form' }, remote: true) do |f| %>
    <div class="field">
      <%= f.text_field :body %>
    </div>
    <%= f.button(class: 'ui blue labeled submit icon button') do %>
      <i class="icon edit"></i>
      Send Message
    <% end %>
  <% end %>
</div>

