<h1 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Say something!
</h1>

<div class="ui two column stackable grid">
  <div class="ten wide tablet twelve wide computer column">
    <div class="ui segment">
      <%= render 'chat' %>
    </div>
  </div>
  <div class="six wide tablet four wide computer column">
    <div class="ui raised segment">
      <%= render 'chat_users' %>
    </div>
  </div>
</div>

