<div class="ui grid">
  <div class="one column centered row">
    <div class="column">
      <h1 class="ui center aligned icon header">
        <i class="user plus orange icon"></i>
        Become a member!
      </h1>
    </div>
  </div>
  <%= render 'shared/errors', obj: @user %>
  <div class="one column centered row">
    <div class="eight wide column">
      <div class="ui raised segment">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

