<footer class="ui one column centered grid">
  <div class="sixteen wide ten wide tablet eight wide computer column">
    <div class="ui center aligned secondary segment">
      <p>Copyright &copy; Santiago Rodriguez</p>
    </div>
  </div>
</footer>

