<% if flash.any? %>
  <div class="ui grid">
    <% flash.each do |kind, message| %>
      <div class="centered row">
        <div class="ten wide column">
          <div class="ui <%= kind.to_s %> message">
            <i class="close icon"></i>
            <div class="header">
              <%= kind.to_s.capitalize %>
            </div>
            <p>
            <%= message %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

